encryption = "age"
[age]
identity = "{{ .chezmoi.homeDir }}/key.txt" 
recipient = "age182m4twx3hsj505dfgujjhtyxj5wx9du9ud8s9huw9lylvclzlakqm48pk9"

[hooks.read-source-state.pre]
command = ".local/share/chezmoi/.install-password-manager.sh"

[git]
autoCommit = true

[edit]
command = "nvim"

[data]
{{ $email := promptStringOnce . "email" "GitHub email" }}
githubemail = {{ $email | quote }}
{{ $fullName := promptStringOnce . "fullName" "Full name" }}
fullname = {{ $fullName | quote }}
{{- $choices :=  list "work" "personal" "server" "device" -}}
{{- $hosttype := promptChoiceOnce . "hosttype" "What host type is this" $choices -}}
hosttype = {{- $hosttype | quote -}}
