[git]
autoCommit = true
autoPush = true

[edit]
command = "nvim"

encryption = "age"
[age]
identity = {{ .chezmoi.homeDir "/key.txt" | trim | quote }} 
recipient = "age182m4twx3hsj505dfgujjhtyxj5wx9du9ud8s9huw9lylvclzlakqm48pk9"

[data]
{{ $email := promptString "GitHub email" -}}
githubemail = {{ $email | quote }}
{{ $fullName := promptString "Full name" -}}
fullname = {{ $fullName | quote }}
