[submodule "dot_config/external_nvim"]
	path = dot_config/external_nvim
	url = https://github.com/annie444/nvim-dots.git
[submodule "dot_config/external_fish"]
	path = dot_config/external_fish
	url = https://github.com/annie444/fish-dots.git
[submodule "dot_tmux/plugins/external_tpm"]
	path = dot_tmux/plugins/external_tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "dot_config/cheat/cheatsheets/external_community"]
	path = dot_config/cheat/cheatsheets/external_community
	url = https://github.com/cheat/cheatsheets.git
