#!/usr/bin/env fish

source "$HOME/.config/fish/config.fish"

rm -f "$HOME/Brewfile"
touch "$HOME/Brewfile"

{{ if eq .chezmoi.os "darwin" -}}
{{ range .packages.darwin.taps -}}
echo 'tap {{ . | quote }}' >> "$HOME/Brewfile"
{{ end -}}
{{ range .packages.darwin.brews -}}
echo 'brew {{ . | quote }}' >> "$HOME/Brewfile"
{{ end -}}
{{ range .packages.darwin.casks -}}
echo 'cask {{ . | quote }}' >> "$HOME/Brewfile"
{{ end -}}
{{ range .packages.darwin.mas -}}
echo 'mas {{ .name | quote }}, id: {{ .id }}' >> "$HOME/Brewfile"
{{ end -}}

brew bundle --file="$HOME/Brewfile"
{{ end -}}

{{ if eq .chezmoi.os "linux" -}}
function install_typography
  clear
  echo "Installing fonts and extended typography"
  echo ""
  mkdir -p ~/.local/share/fonts
  for font in $fonts
    if not test -d "$HOME/.local/share/fonts/$font"
      curl -fsSL -o "$HOME/.local/share/fonts/$font.tar.xz" "https://github.com/ryanoasis/nerd-fonts/releases/download/v3.1.1/$font.tar.xz"
      mkdir "$HOME/.local/share/fonts/$font/"
      tar -xf "$HOME/.local/share/fonts/$font.tar.xz" -C "$HOME/.local/share/fonts/$font/"
      rm "$HOME/.local/share/fonts/$font.tar.xz"
    end
  end
  fc-cache -f -v
  echo ""
end

function install_flatpaks
  clear
  echo "Installing Flatpaks..."
  for pack in $flatpaks
    sudo flatpak install -y flathub $pack
  end
  echo ""
end

set -g fonts "Meslo" "Mononoki" "FiraCode" "FiraMono" "Iosevka" "Ubuntu" "Hack" "UbuntuMono" "Inconsolata" "EnvyCodeR" "MartianMono" "Terminus" "JetBrainsMono" "FantasqueSansMono" 
set -g flatpaks com.google.Chrome org.kde.okteta org.inkscape.Inkscape org.fontforge.FontForge arduino-ide-bin anki com.nextcloud.desktopclient.nextcloud tech.feliciano.pocket-casts com.getpostman.Postman org.qbittorrent.qBittorrent com.spotify.Client org.videolan.VLC us.zoom.Zoom org.libreoffice.LibreOffice com.slack.Slack

sudo dnf install -y \
{{ range .packages.rpms -}}
{{ . }} \
{{ end -}}

install_typography
install_flatpaks
{{ end }}

{{ range .packages.asdf -}}
asdf plugin add {{ . }}
asdf install {{ . }} latest
asdf set {{ . }} latest
{{ end -}}

exit 0
