{{ if eq .chezmoi.os "darwin" }}
#!/usr/bin/env fish

brew tap browsh-org/homebrew-browsh
brew tap homebrew/cask-fonts
brew bundle --no-lock --file=/dev/stdin <<EOF
{{ range .packages.darwin.brews }}
brew {{ . | quote }}
{{ end }}
{{ range .packages.darwin.casks }}
cask {{ . | quote }}
{{ end }}
EOF
{{ end }}
{{ if ne .chezmoi.os "linux" }}
#!/usr/bin/env fish

echo "Not setup yet"
{{ end }}
