
# Background
background_opacity 0.9
dynamic_background_opacity yes
background_blur 20

# Window config
window_padding_width 2
enabled_layouts splits:split_axis=horizontal
adjust_line_height 110%

# Colors
include dracula.conf

# OS specific settings
{{ if eq "darwin" .chezmoi.os }}
notify_on_cmd_finish unfocused 10.0 command /opt/homebrew/bin/terminal-notifier -title 'Kitty' -appIcon file:///Users/annieehler/.config/kitty/kitty.png -execute open focus://focus -message "A command has finished executing"
macos_titlebar_color background
macos_quit_when_last_window_closed yes
macos_option_as_alt yes
macos_window_resizable yes
macos_show_window_title_in all
macos_colorspace displayp3
{{ else if eq "linux" .chezmoi.os }}
notify_on_cmd_finish unfocused 10.0 command notify-send "Kitty" "A command has finished executing"
linux_display_server wayland
wayland_titlebar_color background
{{ end }}

# General settings
shell_integration no-complete no-title no-cwd
allow_remote_control yes
editor nvim

# Tab settings
tab_bar_min_tabs 1 
listen_on unix:/tmp/mykitty
tab_bar_edge top
tab_bar_style separator 
tab_title_template Tab {index}: {title}
tab_separator " ┇ " 
tab_title_template "{fmt.fg._bd93f9}{index}:{fmt.fg.tab}{title.split()[0]}"
active_tab_title_template
active_tab_font_style   bold-italic
inactive_tab_font_style normal
tab_bar_margin_width 0.5
tab_bar_margin_height 1.0 0.5

# Fonts 
font_family JetBrainsMono Nerd Font Mono
bold_font JetBrainsMono Nerd Font Mono Bold
italic_font JetBrainsMono Nerd Font Mono Italic
bold_italic_font JetBrainsMono Nerd Font Mono Bold Italic
font_size 12.0
font_features +liga +calt +dlig +frac +ordn +subs +sups

# Keyboard shortcuts

# moves the window into a new OS window
map opt+f2 detach_window
# moves the window into a new tab
map opt+f3 detach_window new-tab
# moves the window into the previously active tab
map opt+f3 detach_window tab-prev
# moves the window into the tab at the left of the active tab
map opt+f3 detach_window tab-left
# moves the window into a new tab created to the left of the active tab
map opt+f3 detach_window new-tab-left
# asks which tab to move the window into
map opt+f4 detach_window ask

map kitty_mod+_ launch --cwd=current
map kitty_mod+| launch --location=vsplit --cwd=current
map kitty_mod+k next_window
map kitty_mod+j previous_window
map kitty_mod+h previous_tab
map kitty_mod+l next_tab
map kitty_mod+. new_tab_with_cwd
map kitty_mod+x close_tab
map kitty_mod+, set_tab_title

map kitty_mod+n no_op
map kitty_mod+t no_op
map kitty_mod+v no_op
map kitty_mod+c no_op
map kitty_mod+right no_op
map shift+cmd+]     no_op
map ctrl+tab        no_op
map kitty_mod+left no_op
map shift+cmd+[    no_op
map ctrl+shift+tab no_op

map opt+left resize_window narrower
map opt+right resize_window wider
map opt+up resize_window taller
map opt+down resize_window shorter 3
# reset all windows in the tab to default sizes
map opt+h resize_window reset
