[alias]
	a = "add"
	aa = "add --all"
	amend = "commit --amend --no-edit"
	c = "commit"
	ca = "commit -a"
	cam = "commit -a -m"
	cm = "commit -m"
	co = "checkout"
	cob = "checkout -b"
	com = "checkout master"
	d = "diff"
	dc = "diff --cached"
	lg = "log --graph --abbrev-commit --decorate --format=format:'%C(blue)%h%C(reset) - %C(green)(%ar)%C(reset) %s %C(italic)- %an%C(reset)%C(magenta bold)%d%C(reset)' --all"
	pl = "pull"
	pu = "push"
	puf = "push --force"
	r = "reset HEAD"
	r1 = "reset HEAD^"
	r2 = "reset HEAD^^"
	rb = "rebase"
	rba = "rebase --abort"
	rbc = "rebase --continue"
	rbi = "rebase --interactive"
	rbs = "rebase --skip"
	rhard = "reset --hard"
	rhard1 = "reset HEAD^ --hard"
	rhard2 = "reset HEAD^^ --hard"
	rs = "restore --staged"
	s = "status"
	sd = "stash drop"
	spo = "stash pop"
	spu = "stash push"
	spua = "stash push --all"

{{ if lookPath "delta" }}
[core]
  pager = {{ output "which" "delta" | trim | quote }}

[interactive]
	diffFilter = {{ printf "%q --color-only" ( output "which" "delta" | trim ) | quote }} 

[delta]
  navigate = true
  light = false

[merge]
  conflictstyle = diff3

[diff]
  colorMoved = default
{{ end }}

{{ if lookPath "gh" }}
[credential "https://github.com"]
  helper = 
  helper = !{{ output "which" "gh" | trim }} auth git-credential

[credential "https://gist.github.com"]
  helper = 
	helper = !{{ output "which" "gh" | trim }} auth git-credential
{{ end }}

[init]
	defaultBranch = "main"

[pull]
	rebase = true

[user]
  email = {{ .githubemail | quote }}
	name = {{ .fullname | quote }} 
