[alias]
	a = "add"
	aa = "add --all"
	amend = "commit --amend --no-edit"
	c = "commit"
	ca = "commit -a"
	cam = "commit -a -m"
	cm = "commit -m"
	co = "checkout"
	cob = "checkout -b"
	com = "checkout master"
	d = "diff"
	dc = "diff --cached"
	lg = "log --graph --abbrev-commit --decorate --format=format:'%C(blue)%h%C(reset) - %C(green)(%ar)%C(reset) %s %C(italic)- %an%C(reset)%C(magenta bold)%d%C(reset)' --all"
	pl = "pull"
	pu = "push"
	puf = "push --force"
	r = "reset HEAD"
	r1 = "reset HEAD^"
	r2 = "reset HEAD^^"
	rb = "rebase"
	rba = "rebase --abort"
	rbc = "rebase --continue"
	rbi = "rebase --interactive"
	rbs = "rebase --skip"
	rhard = "reset --hard"
	rhard1 = "reset HEAD^ --hard"
	rhard2 = "reset HEAD^^ --hard"
	rs = "restore --staged"
	s = "status"
	sd = "stash drop"
	spo = "stash pop"
	spu = "stash push"
	spua = "stash push --all"

{{ if lookPath "delta" }}
[core]
  pager = {{ output "which" "delta" | trim | quote }}

[interactive]
	diffFilter = {{ printf "%q --color-only" ( output "which" "delta" | trim ) | quote }} 

[delta]
  true-color = always
  side-by-side = true
  features = side-by-side line-numbers decorations
  syntax-theme = Dracula
  plus-style = syntax "#003800"
  minus-style = syntax "#3f0001"

[delta "interactive"]
  keep-plus-minus-markers = false

[delta "decorations"]
  commit-decoration-style = bold yellow box ul
  file-style = bold yellow ul
  file-decoration-style = none
  hunk-header-decoration-style = cyan box ul
  commit-style = raw
  hunk-header-style = file line-number syntax

[delta "line-numbers"]
  line-numbers-left-style = cyan
  line-numbers-right-style = cyan
  line-numbers-minus-style = 124
  line-numbers-plus-style = 28
{{ end }}

[merge]
  conflictstyle = diff3

[diff]
  colorMoved = default

{{ if lookPath "op" }}
[credential "https://github.com"]
  helper = !{{ output "which" "op" | trim }} plugin run -- gh auth git-credential

[credential "https://gist.github.com"]
  helper = !{{ output "which" "op" | trim }} plugin run -- gh auth git-credential
{{ else }}
[credential "https://github.com"]
  helper = !{{ output "which" "gh" | trim }} auth git-credential

[credential "https://gist.github.com"]
  helper = !{{ output "which" "gh" | trim }} auth git-credential
{{ end }}

[init]
	defaultBranch = "main"

[pull]
	rebase = true

[user]
  email = {{ .githubemail | quote }}
	name = {{ .fullname | quote }} 
